[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
flask = "*"
mongoengine = "*"
flask-restful = "*"
flask-compress = "*"
flask-cors = "*"
pyjwt = "*"

[requires]
python_version = "3.8"
